.main-card{
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
@media screen and (max-width:600px) {
    .main-card{
      width: 90%;
      flex-direction: column;
      justify-content: flex-start;
     }
}
.card-1{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
 }
  @media screen and (max-width:1200px) {
      .card-1{
        width: 45%;
      }
  }
  @media screen and (max-width:600px) {
      .card-1{
        width: 100%;
        align-items: center;
        text-align: center;
      }
  }
  .main-heading{
    margin: 0px;
    margin-bottom: 10px;
    font-size: 40px;
    font-style: italic;
    font-weight: 900;
  }
  @media screen and (max-width:600px){
    .main-heading{
      display: none;
    }
  }
  .description{
    line-height: 28px;
    margin-top: 0px;
  }
  .highlight{
    color:rgba(231,201,91,255) ;
  }
  .buy-btn{
    display: none;
  }
  @media screen and (max-width:600px){
      .buy-btn{
            display: block;
            margin-top: 20px;
            margin-bottom: 20px;
      }
      .description{
        text-align: left;
      }
      .btn{
        margin-bottom: 20px;
      }
    }
  .ul-list{
    line-height: 28px;
    font-size: 12px;
    font-weight: 300;
    padding-left: 12px;
  }
  @media screen and (max-width:600px){
    .ul-list{
        display: none;
    }
  }
  .text{
    font-size: 12px;
    margin-bottom: 5px;
    font-weight:300;
  }
  .btn{
    border: none;
    color: rgba(253,255,255,255);
    background-color: rgba(211,21,55,255);
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  .taik-to-us-btn{
     background-color: #359838;
     margin-top: 10px;
     display: flex;
     align-items: center;
  }
  .icon{
    margin-right: 5px;
  }

.mobile-video{
     display: none;
}
  

  @media screen and (max-width:600px) {
        .mobile-video{
            display: block;
        }
        .desk-video{
            display: none;
        }
  }

  .video-container{
    width: 40%;
    height: 250px;
   }
  
  @media screen and (max-width:1200px){
    .video-container{
      width: 50%;
      height: 220px;
    }
  }
  @media screen and (max-width:768px) {
    .video-container{
      height: 180px;
    }
  }
  @media screen and (max-width:600px) {
    .video-container{
      width: 100%;
      margin-top: 20px;
      height: 170px;
    }
  }